<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"  xmlns="http://www.w3.org/1999/xhtml" prefix="" lang="es"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"  xmlns="http://www.w3.org/1999/xhtml" prefix="" lang="es"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"  xmlns="http://www.w3.org/1999/xhtml" prefix="" lang="es"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"  xmlns="http://www.w3.org/1999/xhtml" prefix="" lang="es"> <!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  


<title>Página no encontrada &#8211; El visualista</title>
<link rel='dns-prefetch' href='//ws.sharethis.com' />
<link rel='dns-prefetch' href='//fonts.googleapis.com' />
<link rel='dns-prefetch' href='//s.w.org' />
<link rel="alternate" type="application/rss+xml" title="El visualista &raquo; Feed" href="https://www.elvisualista.com/feed/" />
<link rel="alternate" type="application/rss+xml" title="El visualista &raquo; Feed de los comentarios" href="https://www.elvisualista.com/comments/feed/" />
		<script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/12.0.0-1\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/12.0.0-1\/svg\/","svgExt":".svg","source":{"concatemoji":"https:\/\/www.elvisualista.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.4.11"}};
			/*! This file is auto-generated */
			!function(e,a,t){var n,r,o,i=a.createElement("canvas"),p=i.getContext&&i.getContext("2d");function s(e,t){var a=String.fromCharCode;p.clearRect(0,0,i.width,i.height),p.fillText(a.apply(this,e),0,0);e=i.toDataURL();return p.clearRect(0,0,i.width,i.height),p.fillText(a.apply(this,t),0,0),e===i.toDataURL()}function c(e){var t=a.createElement("script");t.src=e,t.defer=t.type="text/javascript",a.getElementsByTagName("head")[0].appendChild(t)}for(o=Array("flag","emoji"),t.supports={everything:!0,everythingExceptFlag:!0},r=0;r<o.length;r++)t.supports[o[r]]=function(e){if(!p||!p.fillText)return!1;switch(p.textBaseline="top",p.font="600 32px Arial",e){case"flag":return s([127987,65039,8205,9895,65039],[127987,65039,8203,9895,65039])?!1:!s([55356,56826,55356,56819],[55356,56826,8203,55356,56819])&&!s([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]);case"emoji":return!s([55357,56424,55356,57342,8205,55358,56605,8205,55357,56424,55356,57340],[55357,56424,55356,57342,8203,55358,56605,8203,55357,56424,55356,57340])}return!1}(o[r]),t.supports.everything=t.supports.everything&&t.supports[o[r]],"flag"!==o[r]&&(t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&t.supports[o[r]]);t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&!t.supports.flag,t.DOMReady=!1,t.readyCallback=function(){t.DOMReady=!0},t.supports.everything||(n=function(){t.readyCallback()},a.addEventListener?(a.addEventListener("DOMContentLoaded",n,!1),e.addEventListener("load",n,!1)):(e.attachEvent("onload",n),a.attachEvent("onreadystatechange",function(){"complete"===a.readyState&&t.readyCallback()})),(n=t.source||{}).concatemoji?c(n.concatemoji):n.wpemoji&&n.twemoji&&(c(n.twemoji),c(n.wpemoji)))}(window,document,window._wpemojiSettings);
		</script>
		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
	<link rel='stylesheet' id='wp-block-library-css'  href='https://www.elvisualista.com/wp-includes/css/dist/block-library/style.min.css?ver=5.4.11' type='text/css' media='all' />
<link rel='stylesheet' id='estilo-css'  href='https://www.elvisualista.com/wp-content/plugins/simple-code-highlighter/estilo.css?ver=5.4.11' type='text/css' media='all' />
<link rel='stylesheet' id='ssbaFont-css'  href='//fonts.googleapis.com/css?family=Indie+Flower&#038;ver=5.4.11' type='text/css' media='all' />
<link rel='stylesheet' id='kadence_theme-css'  href='https://www.elvisualista.com/wp-content/themes/virtue/assets/css/virtue.css?ver=266' type='text/css' media='all' />
<link rel='stylesheet' id='virtue_skin-css'  href='https://www.elvisualista.com/wp-content/themes/virtue/assets/css/skins/default.css' type='text/css' media='all' />
<link rel='stylesheet' id='redux-google-fonts-virtue-css'  href='https://fonts.googleapis.com/css?family=Lato%3A400%2C900%2C700&#038;ver=1586954226' type='text/css' media='all' />
<script id='st_insights_js' type='text/javascript' src='https://ws.sharethis.com/button/st_insights.js?publisher=4d48b7c5-0ae3-43d4-bfbe-3ff8c17a8ae6&#038;product=simpleshare'></script>
<script type='text/javascript' src='https://www.elvisualista.com/wp-includes/js/jquery/jquery.js?ver=1.12.4-wp'></script>
<script type='text/javascript' src='https://www.elvisualista.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
<script type='text/javascript' src='https://www.elvisualista.com/wp-content/themes/virtue/assets/js/vendor/modernizr.min.js'></script>
<link rel='https://api.w.org/' href='https://www.elvisualista.com/wp-json/' />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://www.elvisualista.com/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://www.elvisualista.com/wp-includes/wlwmanifest.xml" /> 
<meta name="generator" content="WordPress 5.4.11" />
<script>(function(d, s, id){
                 var js, fjs = d.getElementsByTagName(s)[0];
                 if (d.getElementById(id)) {return;}
                 js = d.createElement(s); js.id = id;
                 js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
                 fjs.parentNode.insertBefore(js, fjs);
               }(document, 'script', 'facebook-jssdk'));</script><style type="text/css">	.ssba {
									
									
									
									
								}
								.ssba img
								{
									width: 40px !important;
									padding: 6px;
									border:  0;
									box-shadow: none !important;
									display: inline !important;
									vertical-align: middle;
								}
								.ssba, .ssba a
								{
									text-decoration:none;
									border:0;
									background: none;
									font-family: Indie Flower;
									font-size: 	20px;
									
									font-weight: bold;
								}
								</style><style type="text/css">#logo {padding-top:16px;}#logo {padding-bottom:0px;}#logo {margin-left:0px;}#logo {margin-right:0px;}#nav-main {margin-top:40px;}#nav-main {margin-bottom:10px;}.headerfont, .tp-caption {font-family:Lato;} 
  .topbarmenu ul li {font-family:Lato;}
  #kadbreadcrumbs {font-family:Verdana, Geneva, sans-serif;}.home-message:hover {background-color:#f9bb3e; background-color: rgba(249, 187, 62, 0.6);}
  nav.woocommerce-pagination ul li a:hover, .wp-pagenavi a:hover, .panel-heading .accordion-toggle, .variations .kad_radio_variations label:hover, .variations .kad_radio_variations label.selectedValue {border-color: #f9bb3e;}
  a, #nav-main ul.sf-menu ul li a:hover, .product_price ins .amount, .price ins .amount, .color_primary, .primary-color, #logo a.brand, #nav-main ul.sf-menu a:hover,
  .woocommerce-message:before, .woocommerce-info:before, #nav-second ul.sf-menu a:hover, .footerclass a:hover, .posttags a:hover, .subhead a:hover, .nav-trigger-case:hover .kad-menu-name, 
  .nav-trigger-case:hover .kad-navbtn, #kadbreadcrumbs a:hover, #wp-calendar a, .star-rating {color: #f9bb3e;}
.widget_price_filter .ui-slider .ui-slider-handle, .product_item .kad_add_to_cart:hover, .product_item:hover a.button:hover, .product_item:hover .kad_add_to_cart:hover, .kad-btn-primary, html .woocommerce-page .widget_layered_nav ul.yith-wcan-label li a:hover, html .woocommerce-page .widget_layered_nav ul.yith-wcan-label li.chosen a,
.product-category.grid_item a:hover h5, .woocommerce-message .button, .widget_layered_nav_filters ul li a, .widget_layered_nav ul li.chosen a, .wpcf7 input.wpcf7-submit, .yith-wcan .yith-wcan-reset-navigation,
#containerfooter .menu li a:hover, .bg_primary, .portfolionav a:hover, .home-iconmenu a:hover, p.demo_store, .topclass, #commentform .form-submit #submit, .kad-hover-bg-primary:hover, .widget_shopping_cart_content .checkout,
.login .form-row .button, .variations .kad_radio_variations label.selectedValue, #payment #place_order, .wpcf7 input.wpcf7-back, .shop_table .actions input[type=submit].checkout-button, .cart_totals .checkout-button, input[type="submit"].button, .order-actions .button  {background: #f9bb3e;}input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; } input[type=number] {-moz-appearance: textfield;}.quantity input::-webkit-outer-spin-button,.quantity input::-webkit-inner-spin-button {display: none;}.product_item .product_details h5 {text-transform: none;}.product_item .product_details h5 {min-height:40px;}</style><!--[if lt IE 9]>
<script src="https://www.elvisualista.com/wp-content/themes/virtue/assets/js/vendor/respond.min.js"></script>
<![endif]-->
<style type="text/css" title="dynamic-css" class="options-output">header #logo a.brand,.logofont{font-family:Lato;line-height:40px;font-weight:400;font-style:normal;font-size:32px;}.kad_tagline{font-family:Lato;line-height:20px;font-weight:400;font-style:normal;color:#444444;font-size:14px;}.product_item .product_details h5{font-family:Lato;line-height:20px;font-weight:normal;font-style:700;font-size:16px;}h1{font-family:Lato;line-height:40px;font-weight:900;font-style:normal;color:#54463a;font-size:38px;}h2{font-family:Lato;line-height:40px;font-weight:normal;font-style:normal;font-size:32px;}h3{font-family:Lato;line-height:40px;font-weight:400;font-style:normal;font-size:28px;}h4{font-family:Lato;line-height:40px;font-weight:400;font-style:normal;font-size:22px;}h5{font-family:Lato;line-height:24px;font-weight:400;font-style:normal;font-size:18px;}body{font-family:Verdana, Geneva, sans-serif;line-height:28px;font-weight:400;font-style:normal;font-size:16px;}#nav-main ul.sf-menu a{font-family:Lato;line-height:18px;font-weight:700;font-style:normal;font-size:16px;}#nav-second ul.sf-menu a{font-family:Lato;line-height:22px;font-weight:400;font-style:normal;font-size:18px;}.kad-nav-inner .kad-mnav, .kad-mobile-nav .kad-nav-inner li a,.nav-trigger-case{font-family:Lato;line-height:20px;font-weight:400;font-style:normal;font-size:16px;}</style><!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-126625640-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-126625640-1');
</script>

</head>
  <body class="error404 wide">
    <div id="wrapper" class="container">
    <div id="kt-skip-link"><a href="#content">Skip to Main Content</a></div><header class="banner headerclass">
  <div id="topbar" class="topclass">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 kad-topbar-left">
          <div class="topbarmenu clearfix">
                                </div>
        </div><!-- close col-md-6 --> 
        <div class="col-md-6 col-sm-6 kad-topbar-right">
          <div id="topbar-search" class="topbar-widget">
            <form role="search" method="get" id="searchform" class="form-search" action="https://www.elvisualista.com/">
  <label class="hide" for="s">Búsqueda para:</label>
  <input type="text" value="" name="s" id="s" class="search-query" placeholder="Buscar">
  <button type="submit" id="searchsubmit" class="search-icon"><i class="icon-search"></i></button>
</form>        </div>
        </div> <!-- close col-md-6-->
      </div> <!-- Close Row -->
    </div> <!-- Close Container -->
  </div><div class="container">
  <div class="row">
      <div class="col-md-4 clearfix kad-header-left">
            <div id="logo" class="logocase">
              <a class="brand logofont" href="https://www.elvisualista.com/">
                                  <div id="thelogo">
                    <img src="http://www.elvisualista.com/wp-content/uploads/2016/03/logo-el-visualista.gif" alt="El visualista" class="kad-standard-logo" />
                                      </div>
                              </a>
                         </div> <!-- Close #logo -->
       </div><!-- close logo span -->
                <div class="col-md-8 kad-header-right">
           <nav id="nav-main" class="clearfix">
              <ul id="menu-menu-principal" class="sf-menu"><li  class="menu-inicio menu-item-5"><a href="http://www.elvisualista.com/">Inicio</a></li>
<li  class="menu-diseno-grafico menu-item-6"><a href="https://www.elvisualista.com/category/diseno-grafico/">Diseño gráfico</a></li>
<li  class="menu-diseno-web menu-item-7"><a href="https://www.elvisualista.com/category/diseno-web/">Diseño web</a></li>
<li  class="menu-utilidades menu-item-286"><a href="https://www.elvisualista.com/category/utilidades/">Utilidades</a></li>
</ul>           </nav> 
          </div> <!-- Close menuclass-->
               
    </div> <!-- Close Row -->
               <div id="mobile-nav-trigger" class="nav-trigger">
              <button class="nav-trigger-case mobileclass collapsed" data-toggle="collapse" data-target=".kad-nav-collapse">
                <span class="kad-navbtn"><i class="icon-reorder"></i></span>
                <span class="kad-menu-name">Men&uacute;</span>
              </button>
            </div>
            <div id="kad-mobile-nav" class="kad-mobile-nav">
              <div class="kad-nav-inner mobileclass">
                <div class="kad-nav-collapse">
                <ul id="menu-menu-principal-1" class="kad-mnav"><li  class="menu-inicio menu-item-5"><a href="http://www.elvisualista.com/">Inicio</a></li>
<li  class="menu-diseno-grafico menu-item-6"><a href="https://www.elvisualista.com/category/diseno-grafico/">Diseño gráfico</a></li>
<li  class="menu-diseno-web menu-item-7"><a href="https://www.elvisualista.com/category/diseno-web/">Diseño web</a></li>
<li  class="menu-utilidades menu-item-286"><a href="https://www.elvisualista.com/category/utilidades/">Utilidades</a></li>
</ul>               </div>
            </div>
          </div>   
   
</div> <!-- Close Container -->
  </header>      <div class="wrap contentclass" role="document">

      	<div id="pageheader" class="titleclass">
		<div class="container">
			<div class="page-header">
	<h1 class="entry-title" itemprop="name">
		No se encuentra	</h1>
   	</div>		</div><!--container-->
	</div><!--titleclass-->
	
    <div id="content" class="container">
   		<div class="row">
      <div class="main col-md-12" role="main">
<div class="alert">
  Lo sentimos, pero la p&aacute;gina que est&aacute; intentando ver no existe.</div>

<p>Parece que este es el resultado para todos:</p>
<ul>
  <li>dirección mal escrita</li>
  <li>enlace obsoleto</li>
</ul>

<form role="search" method="get" id="searchform" class="form-search" action="https://www.elvisualista.com/">
  <label class="hide" for="s">Búsqueda para:</label>
  <input type="text" value="" name="s" id="s" class="search-query" placeholder="Buscar">
  <button type="submit" id="searchsubmit" class="search-icon"><i class="icon-search"></i></button>
</form></div>            
                    </div><!-- /.row-->
        </div><!-- /.content -->
      </div><!-- /.wrap -->
      <footer id="containerfooter" class="footerclass" role="contentinfo">
  <div class="container">
  	<div class="row">
  								        						            </div>
        <div class="footercredits clearfix">
    		
    		        	<p>&copy; 2022 El visualista </p>
    	</div>

  </div>

</footer>




<script type='text/javascript' src='https://www.elvisualista.com/wp-content/plugins/simple-code-highlighter/js/pretty.js?ver=5.4.11'></script>
<script type='text/javascript' src='https://www.elvisualista.com/wp-content/plugins/simple-share-buttons-adder/js/ssba.min.js?ver=5.4.11'></script>
<script type='text/javascript' src='https://www.elvisualista.com/wp-includes/js/imagesloaded.min.js?ver=3.2.0'></script>
<script type='text/javascript' src='https://www.elvisualista.com/wp-includes/js/masonry.min.js?ver=3.3.2'></script>
<script type='text/javascript' src='https://www.elvisualista.com/wp-content/themes/virtue/assets/js/min/plugins-min.js?ver=266'></script>
<script type='text/javascript' src='https://www.elvisualista.com/wp-content/themes/virtue/assets/js/main.js?ver=266'></script>
<script type='text/javascript' src='https://www.elvisualista.com/wp-includes/js/wp-embed.min.js?ver=5.4.11'></script>
    </div><!--Wrapper-->
  </body>
</html>

<!-- Page generated by LiteSpeed Cache 3.6.4 on 2022-10-06 15:14:43 -->